html {
  scroll-padding-top: 6rem;
  overflow-anchor: none;
}
.navbar-brand {
  overflow-x: auto !important;
}
.bd-toc {
  padding: 0;
  margin: 0;
}
.bd-toc-toggle {
  padding: 0;
  margin: 1rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
  width: 100%;
  text-align: left;
}
.bd-toc-toggle:hover,
.bd-toc-toggle:active,
.bd-toc-toggle:focus {
  border-bottom-color: #cccccc !important;
}
.bd-toc-toggle.collapsed .bi-x-lg {
  display: none !important;
}
.bd-toc-toggle.collapsed .bi-chevron-down {
  display: inline-block !important;
}
.bd-toc-toggle .bi-chevron-down {
  display: none !important;
}
.bd-toc-collapse.collapse.show {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.bd-links-nav li {
  margin-bottom: .75rem;
}
.bd-links-nav a {
  text-decoration: none;
  display: block;
}
.bd-links-nav a.active {
  font-weight: 600;
}
.bd-sidebar nav a:hover {
  text-decoration: underline;
}
.bd-next-chapter {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bd-next-chapter a {
  border-top: 1px solid #cccccc;
}
.bd-next-chapter a {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: none !important;
}
.bd-next-chapter a i {
  color: #333333;
  margin-left: .25rem;
  font-size: 1.5rem;
}
.bd-next-chapter .bd-next-label {
  color: #cccccc;
  font-size: .825rem;
  margin-bottom: .25rem;
}
.bd-next-chapter .bd-chapter-name {
  text-decoration: underline !important;
}
.bd-toc nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.bd-toc nav li {
  margin-bottom: 0.25rem;
}
.bd-toc nav ul ul {
  padding-left: 1rem;
  margin-top: 0.25rem;
}
.bd-toc nav a {
  text-decoration: none;
  color: inherit;
}
.bd-toc nav a:hover {
  text-decoration: underline;
}
.bd-footer {
  margin-top: 1rem;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.w-10 { width: 10%!important; }
.w-15 { width: 15%!important; }
.w-20 { width: 20%!important; }
.w-25 { width: 25%!important; }
.w-30 { width: 30%!important; }
.w-35 { width: 35%!important; }
.w-40 { width: 40%!important; }
.w-45 { width: 45%!important; }
.w-50 { width: 50%!important; }
.w-55 { width: 55%!important; }
.w-60 { width: 60%!important; }
.w-65 { width: 65%!important; }
.w-70 { width: 70%!important; }
.w-75 { width: 75%!important; }
.w-80 { width: 80%!important; }
.w-85 { width: 85%!important; }
.w-90 { width: 90%!important; }
.w-95 { width: 95%!important; }
.w-100 { width: 100%!important; }

h1 {
  margin-top: 1rem!important;
  margin-bottom: 0;
}
h2:not(.accordion-header) {
  font-size: 1.5rem !important;
  border-bottom: 1px solid #dddddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.25rem !important;
  border-bottom: 1px solid #dddddd;
  color: #333333;
  padding-top: .75rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.15rem !important;
  border-bottom: 1px solid #dddddd;
  color: #666666;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
caption {
  font-weight: 700;
}
a.external::after {
  display: inline-block;
  content: "";
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/><path fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/></svg>");
  background-repeat: no-repeat;
  background-size: .75rem .75rem;
  width: .75rem;
  height: .75rem;
  margin-left: .25rem;
} 
.table-responsive {
  margin-bottom: 1rem;
}
.table-responsive .table {
  margin-top: .5rem;
  margin-bottom: 0;
}
.bd-content ul li:last-child {
  margin-bottom: 0 !important;
}
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
.bd-example {
  padding: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border: 1px solid var(--bd-callout-border, var(--bs-gray-100));
}
.bd-callout p:last-child,
.bd-example p:last-child {
  margin-bottom: 0;
}

#strategies-table th[scope="col"].small {
  font-size: .7rem;
  width: 12.5%;
}
#strategies-table .bi {
  font-size: .55rem;
  color: #666666;
}

.bd-sidebar { grid-area: sidebar; }
.bd-main { grid-area: main; }
.bd-intro { grid-area: intro; }
.bd-toc { grid-area: toc; }
.bd-content { grid-area: content; }

@media (min-width: 768px) {
  .bd-navbar {
      padding-top: 1rem!important;
      padding-bottom: 1rem!important;
  }
  .bd-layout {
    min-height: calc(100vh - 72px - 53px - 1rem) !important;
  }
  .bd-main {
    display: grid;
    grid-template-areas:
       "intro"
       "toc"
       "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }
  .bd-toc-collapse {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
  }
  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 6em;
    display: block !important;
    height: calc(100vh - 12em);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }
  .bd-main {
    grid-template-areas:
      "intro toc"
      "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
  }
  .bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 12em);
    overflow-y: auto;
  }
  .bd-toc-collapse.collapse.show {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .bd-intro, 
  .bd-content, 
  .bd-next-chapter {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }
  .offcanvas-lg .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent!important;
  }
}
